/* Estilo para o container do card */
.cards {
    border-radius: 15px;
      box-shadow: 0px 0px 8px #000000;
      color: #000000;
      margin: 12px 0px;
      padding: 4px 16px 20px 16px;
      height: 450px;
      width: 350px;
      margin-top: 5%;
      float: left;
      margin-left: 5%; 
      background-color: #ccc;   
  
  }
  
  /* Estilo para a imagem */ 
  .image {
    width: 320px;
    height: 280px;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 10px;
  }
  
