@import url('https://fonts.googleapis.com/css2?family=Glory&family=Mulish:wght@600&family=Poppins:ital,wght@0,200;0,300;1,400&family=Roboto&family=Rubik:wght@300;400&display=swap');



.card-editar {
  color: #000000;
  margin-top: 5%;
  background-color: rgb(247, 247, 247);
  height: 20rem;
  border-radius: 5px 5px 5px 5px;



}

.card-card {
  margin-bottom: 8%;
  width: 15rem;
  height: 20rem;
}

.card-img {
  object-fit: cover;
  margin-bottom: 5%;
  align-items: center;
  border-radius: 5px 5px 0px 0px;

}

.card-img img {
  object-fit: cover;
  width: 10rem;
  margin-bottom: 5%;
  align-items: center;
  border-radius: 5px 5px 0px 0px;

}

.description {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2%;

}

.button-modal button:hover{
  background-color: #FFD700;


}

.button-modal{
  margin-left: 10%;

}

.button-modal-remover{
  margin-left: 30%;
  height: 2.2rem;
  width: 8rem;
  border-radius: 10px;
  margin-top: 10%;
  align-items: center;
  text-align: center;
}

.button-modal-remover button{
  height: 2.2rem;
  width: 10rem;
  background-color: red;

}

.button-modal-remover button:hover{
  background-color: rgb(133, 1, 1);

}