

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #F9C200;
  }
  
  .topo {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: #ff375b;
  }
  
  .input {
    width: 350px;
    height: 70px;
    border: 1px solid rgb(73, 8, 60);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .cadastrar {
    background-color: #38362d;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    margin-top: 70px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  
  .labelError {
    font-size: 16px;
    color: #ff375b;
    margin-bottom: 2px;
  }
  
  .dropdown {
    width: 350px;
    height: 70px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
  }