@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik:wght@300;400&display=swap');


.NavbarItems {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 80px;
    background-color: #F9C200;
    box-shadow: 0 2px 2px #c1c1c1;
    position: fixed;
    transform: translate(-500);
    z-index: 9999;
    font-family: "Rubik";
    position: fixed !important;
    top: 0 !important;
}

.Navbar-logo {
    color: black;
    font-size: 2.0rem;
    text-decoration: none;
    margin-left: 5%;

}



.Nav-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    margin-right: 8%;
    margin-left: 50%;

    position: fixed; /* Altere para 'position: fixed' */
}



.nav_links {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav_links:hover {
    color: rgb(255, 255, 255);
    transition: all 0.2 ease-in-out;
}

.nav_links_cadastro {
    display: none;
    color: aliceblue;

}



.menu_icons {
    display: none;

}


.nav_links_login:hover {
    color: #ffffff;

}


#basic-button{
    padding: 0.5rem 1rem;
    border-radius: 1.0rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #000000;
    color: aliceblue;
    font-size: 1rem;
    font-family: "Rubik";
    
    

}

#basic-button :hover {
    position: fixed !important;

}

   #basic-menu {
   
    z-index: 9999;
  }




@media screen and (max-width: 850px) {
    .NavbarItems {
        z-index: 99;
    }

    #basic-menu {
        position: fixed; /* Altere de 'absolute' para 'fixed' */
        z-index: 9999;
      }

    .Nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #ffffff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.s ease-in-out;
        pointer-events: none; /* Impede interações com o menu quando não está visível */
    }


    .Nav-menu.active {
        left: 0;
        opacity: 1;
        transition: 0.s ease-in-out;
        pointer-events: auto; /* Habilita interações quando o menu está visível */



    }

    .nav_links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem;
    }

    .nav_links i {
        padding-right: 10px;
    }

    .nav_links:hover {
        transition: none;
        color: #ffffff;
        background-color: #F9C200;
    }

    .nav_links_login {
        display: block;
        width: 100%;
        font-size: 1.3rem;
        padding: 2rem;
        text-decoration: none;
        list-style: none;
    }

    .nav_links_login i {
        padding-right: 10px;
        text-decoration: none;
        list-style: none;
    }

    .nav_links_login:hover {
        transition: none;
        color: #ffffff;
        background-color: #F9C200;

    }

   

    .menu_icons {
        display: block;
        cursor: pointer;

    }

    .menu_icons i {
        font-size: 2.2rem;
        color: rgb(0, 0, 0);

    }

    
   

}