@import url('https://fonts.googleapis.com/css2?family=Glory&family=Mulish:wght@600&family=Poppins:ital,wght@0,200;0,300;1,400&family=Roboto&family=Rubik:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Glory;
}

.body-pets-listacadastrados {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 7rem;
    font-family: Glory;


}

.pets-listacadastrados-container {
    margin-top: 10%;
    background-color: #FDF8F8;
    ;
    height: 60rem;
    width: 80%;
    display: flex;

}


.title-listacadastrados {
    width: 55%;
    height: 8%;
    font-size: 20px;
    background-color: #F9C200;
    margin-left: 22%;
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-listacadastrados h1 {
    margin: 0;
    font-family: Rubik;
    white-space: nowrap;
    text-align: center;
    color: #FDF8F8;
}