* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Glory;
    border: none;
}

.title-filtro{
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: -5%;
}


.filtros {
    display: flex;
    width: 78rem;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    margin-left: 10%;


}



/* Adiciona uma classe para a coluna */
.coluna1 {
    margin-top: 10%;
    width: 40%;
    height: 18rem;
    flex-direction: column;
    background-color:  #f8c100;
    border-radius: 5px 0% 0% 5px;



}

.coluna2 {
    margin-top: 10%;
    width: 40%;
    height: 18rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8c100;
    border-radius: 0px 5px 5px 0%;



}


.filtro {
    align-items: center;
    margin-bottom: 2%;
    margin-top: 8%;
    width: 30rem;
    margin-left: 2%;
    
}




.title {
    margin-top: 2%;
    font-size: 1rem;

}

.title h1{
    font-size: 2rem;
    margin-left: -20%;

}

.cards-container1 {
    width: 90%;
    margin-left: 5%;
    display: flex; /* Trocado de grid para flex */
    flex-wrap: wrap; /* Garante que os cards vão para a próxima linha conforme necessário */
    gap: 1%; /* Espaçamento entre os cards */
    align-items: center;
    justify-content: center;}




.paginacao {
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}


