* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Glory;
    border: none;
}

.adote {
    margin-bottom: 10%;
}


.filtros {
    display: flex;
    margin-left: 16%;
    width: 80rem;
    font-size: x-large;


}



/* Adiciona uma classe para a coluna */
.coluna1 {
    margin-top: 10%;
    width: 40%;
    height: 12rem;
    flex-direction: column;
    background-color:  #f8c100;
    border-radius: 5px 0% 0% 5px;



}

.coluna2 {
    margin-top: 10%;
    width: 40%;
    height: 12rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8c100;
    border-radius: 0px 5px 5px 0%;



}


.filtro {
    align-items: center;
    margin-bottom: 2%;
    margin-top: 8%;
    width: 30rem;
    margin-left: 2%;
}




.title {
    margin-top: 2%;
    font-size: 1rem;

}

.title h1{
    font-size: 2rem;
    margin-left: -13%;

}

.cards-container {
    width: 80%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1%;
}




.paginacao {
    border-color: red;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}